.ion-color-laranja {
    --ion-color-base: var(--ion-color-laranja);
    --ion-color-base-rgb: var(--ion-color-laranja-rgb);
    --ion-color-contrast: var(--ion-color-laranja-contrast);
    --ion-color-contrast-rgb: var(--ion-color-laranja-contrast-rgb);
    --ion-color-shade: var(--ion-color-laranja-shade);
    --ion-color-tint: var(--ion-color-laranja-tint);
}