<ion-header>
    <ion-toolbar color="laranja">
        <ion-buttons slot="start">
            <ion-back-button> </ion-back-button>
        </ion-buttons>
        <ion-thumbnail slot="start">
            <img src="https://static.vecteezy.com/ti/vetor-gratis/t2/5285093-prato-de-servir-chef-gordo-com-bigode-segurando-gr%C3%A1tis-vetor.jpg" />
        </ion-thumbnail>
        <ion-title>
            Prato do Dia
        </ion-title>
    </ion-toolbar>

</ion-header>

<ion-content>
    <ion-list lines="full" color="light">

        <ion-item routerLink="/itempd/d01">
            <ion-thumbnail slot="start">
                <img src="" />
            </ion-thumbnail>
            <ion-label class="ion-text-wrap">
                <div>
                    <h1> - R$ 5,00</h1>
                </div>
            </ion-label>
        </ion-item>

    </ion-list>

</ion-content>