h1 {
    font-weight: bold;
    font-size: 0.8rem;
}

ion-item {
    --padding-start: 10px;
    --inner-padding-end: 10px;
    ion-thumbnail {
        height: 100%;
        margin-inline-end: 10px;
    }
}

.ion-color-laranja {
    --ion-color-base: var(--ion-color-laranja);
    --ion-color-base-rgb: var(--ion-color-laranja-rgb);
    --ion-color-contrast: var(--ion-color-laranja-contrast);
    --ion-color-contrast-rgb: var(--ion-color-laranja-contrast-rgb);
    --ion-color-shade: var(--ion-color-laranja-shade);
    --ion-color-tint: var(--ion-color-laranja-tint);
}

div {
    font-size: medium;
    color: black;
}